body{
    margin: 0;
    padding:0;
    background-color: black;
}
.calculator{
    width: 300px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: rgb(113, 147, 163);
    text-align: center;
    border-radius: 40px;

}
#screen{
    border: black;
    background-color: darkgrey;
    border-radius: 15px;
    font-size: medium;
    font-weight: 250;
    height: 25px;
    margin: auto;
}
.buttondesign{
    padding-top: 2px;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    font-weight: 400;
}
.operator{
    height: 30px;
    width: 180px;
    border-radius: 20px;
}
#Title{
    width: 280px;
    height: 40px;
    background-color: blue;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 175px;
    margin-left: 610px;
    color: whitesmoke;
    font-family:  Helvetica;
}
#ac{
    background-color: red;
    color: yellowgreen;
}